<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit user</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <form action="/user/update-user" method="post">
        <div class="row">
          <h1>Edit user</h1>
          <div class="col-6">
            <form
              class="row d-grid gap-3"
              method="POST"
              action="/user/create-user"
            >
              <input hidden name="id" type="text" value="<%= user.id %>" />
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  required
                  type="username"
                  name="username"
                  class="form-control"
                  id="username"
                  aria-describedby="emailHelp"
                  placeholder="Enter username"
                  value="<%= user.username %>"
                />
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  required
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                  value="<%= user.email %>"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>
              <div class="form-group">
                <label for="email">Phone</label>
                <input
                  required
                  type="phone"
                  name="phone"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="Enter Phone"
                  value="<%=user.phone%>"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your phone with anyone else.</small
                >
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  required
                  type="password"
                  name="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                />
              </div>
              <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
